.topnav {
    background-color: black;
    overflow: hidden;
    padding: 4px 0px 4px;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    margin: 3px 16px;
    padding-bottom: 3px;
    font-size: 22px;
    text-decoration: none;
    position: relative;
}

 .topnav a:after {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 5px;
   bottom: 0;
   left: 0;
   background: linear-gradient(to right, #F83FDF 45%, #FFC5F7);
   transition: transform 0.25s ease-out;
   transform-origin: bottom right;
 }
 
 .topnav a:hover:after {
   transform: scaleX(1);
   transform-origin: bottom left;
 }

body {
    background-color: black;
    color: white;
}